*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(./mohammad-alizade-XgeZu2jBaVI-unsplash.jpg);
    background-size: cover;
}
h1{
    color: white;
    text-align: center;
}